@media (max-width: 768px) {
  #section {
    width: 358px;
  }
}
  #header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    background:white;
}

  #header-img{
    padding:5px;
    max-width:300px;
}
    
    #nav-bar ul {
      display:flex;
      width:35vw;
      flex-direction:row;
    justify-content: flex-end;
}
#nav-bar ul li{
  list-style:none;
  padding:0px 10px;
  
}
a{
  color: #000;
    text-decoration: none;
}
.logo{
  width:60vw;
}
 h1{
  text-align:center;
}
form{
  text-align:center;
}

#submit{
  max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align:left;
}
p{
  text-align:left;
}
.container{
  margin:auto;
  width:700px;
}
#hero{
  margin:auto;
  width:300px;
  align-items:center;
} 
  #how-it-works {
    margin-top:50px;
    display:flex;
    justify-content:center;
    max-width: 560px;    
    margin:auto;
  }  
  #pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    
  }
    li{
      list-style:none;
      
    }
.product > ol > li {
    padding: 5px 0;
}
.product > button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
}
.product > .level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}
footer > ul {
    display: flex;
    justify-content: flex-end;
    
    
}
span{
 display:flex;
 justify-content: flex-end;
}
footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
}
 
   
     

